@charset "UTF-8";

/* 폰트 나눔고딕으로 전역 적용 */
body {
	font-family: 'Nanum Barun Gothic', sans-serif;
	background: #eee;
}

/* 링크 스타일 없애기 */
a,
a:hover,
a:visited,
a:link {
	text-decoration: none;
}

main {
	padding-top: 3.5rem;
}


/* 폼 */
.form-wrapper {
	margin-top: 84px;
	margin-bottom: 84px;
}

#form-signin {
	max-width: 412px;
	padding: 71px 31px 71px 31px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#form-signin .form-signin-heading {
	padding-bottom: 8px;
}

#form-signin .input-group {
	margin-bottom: 12px;
}

#form-signin .fa {
	min-width: 16px;
}

#form-signin input {
	font-size: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

#form-signin .input-group {
	padding-top: 4px;
    padding-bottom: 8px;
}

#form-signin .address-input {
    padding-top: 4px;
    padding-bottom: 2px;
}

footer.container {
	padding-top: 15px;
	padding-bottom: 23px;
	text-align: center;
}


/* 메인 */
.overlay {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 51px;
	padding-bottom: 51px;
	
	background-color: #333;
}

.search-form {
	padding: 15px;
}

/* 상세보기 */
#item-detail {
    max-width: 500px;
    padding: 71px 31px 71px 31px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#item-detail .item-heading {
	padding-bottom: 16px;
}

#item-detail .title-bar {
	overflow: hidden;
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
}

#item-detail .item-title {
	display: inline-block;
	height: auto;
	float: left;
	font-weight: 800;
	font-size: 26px;
}

#item-detail .item-status {
    display: inline-block;
    float: right;
    color: #FFF;
    padding: 4px;
}

.available {
	border-radius: 4px;
    background: #81c226;
}

.not-available {
	border-radius: 4px;
    background: #c23a26;
}

#item-detail .item-desc {
	border: 1px solid #F00;
	color: #333;
}

#item-detail .item-element {
	margin-top: 7px;
	margin-bottom: 7px;
	height: auto;
	
}

#item-detail .item-group {
    height: auto;
    line-height: 35px;
    overflow: hidden;
}

#item-detail .title {
	display: table-cell;
	min-width: 97px;
	text-align: center;
	background-color: #343A40;
	color: #FFF;
	height: 100%;
}

#item-detail span {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#item-detail .title:nth-child(2n+1) {
    border-bottom: 1px solid #FFF;
}

#item-detail .data {
	display: table-cell;
	padding-left: 13px;
}

#option-element {
	padding-top: 9px;
	padding-bottom: 9px;
}

#option-element .heading {
	font-weight: 800;
    font-size: 17px;
    color: #FFF;
    background-color: #343A40;
    height: 29px;
    line-height: 29px;
    padding-left: 9px;
}

#option-element ul {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#option-item {
	border-radius: 4px;
	display: inline-block;
	width: 75px;
	height: 75px;
	text-align: center;
	color: #FFF;
	margin: 11px;
	padding: 5px;
}

#option-item .icon {
	height: 60%;
	padding: 9px;
}

#option-item .status {
	height: 39%;
	padding-top: 7px;
	font-size: 11px;
}

.option-available {
	background-color: #048CCE;
}

.option-not-available {
	background-color: #919191;
}

/* 아이템 전체 리스트 */
#item-list {
    max-width: 960px;
    padding: 71px 31px 71px 31px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#item-list .item-status {
    display: inline-block;
    color: #FFF;
    padding: 4px;
}

.available {
    border-radius: 4px;
    background: #81c226;
}

.not-available {
    border-radius: 4px;
    background: #c23a26;
}